.filter_tag{
    display: flex;
    margin-top: 20px;
    padding-bottom: 16px;
    margin-left: 50px;
}

.main_post{
    width: 100%;
    padding: 10px 180px;
    background-color: #F2F6FF;
    margin-top: 94px;
}

.heading_post{
    margin: 0;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    text-align: left;
    color: #000;
    font-family: 'Raleway';
}


.fa-solid {
   margin:15px 10px 0px 50px;
   font-size: 18px;
   
}

.colorBlue{
    color: #0084ff;
}

.filterBy{
    margin:0px 10px;
    font-size: 13px;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
    
 }

 .all_tag{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-bottom: 6px;
    

 }

 .btn{
    padding: 6px 10px;
    margin: 2px 4px;
    border-radius: 20px;
    font-size: 12px;
    border: 1px solid #0084ff;
    color: #0084ff;
    background-color: #F2F6FF;
    cursor: pointer;
    
 }

 .btn:nth-child(1){
   background: linear-gradient(269deg,#0048ff,#0096ff);
    color: white;
 }

  .btn:hover{
   background: linear-gradient(269deg,#0048ff,#0096ff);
    color: white;
 }

